@import "tailwindcss";

@theme {
  --color-surface-container-high: #eae8e5;
  --color-surface-variant: #e4e2df;
  --color-tertiary-fixed: #ffddb8;
  --color-on-primary-fixed: #001d34;
  --color-on-tertiary-fixed-variant: #653e01;
  --color-on-error-container: #93000a;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-outline-variant: #c3c7ce;
  --color-on-primary-fixed-variant: #2c4965;
  --color-surface-bright: #fbf9f6;
  --color-surface: #fbf9f6;
  --color-surface-container-highest: #e4e2df;
  --color-primary-fixed: #cfe4ff;
  --color-error-container: #ffdad6;
  --color-inverse-surface: #30312f;
  --color-on-tertiary: #ffffff;
  --color-on-background: #1b1c1a;
  --color-on-secondary-fixed: #00201e;
  --color-inverse-primary: #acc9eb;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-container: #7995b5;
  --color-outline: #73777e;
  --color-inverse-on-surface: #f2f0ed;
  --color-primary-container: #0c2d48;
  --color-on-secondary-container: #386d69;
  --color-secondary: #326763;
  --color-tertiary-container: #402500;
  --color-on-tertiary-fixed: #2b1700;
  --color-primary: #00182c;
  --color-surface-tint: #44617e;
  --color-surface-container-low: #f5f3f0;
  --color-secondary-fixed-dim: #9bd1cb;
  --color-secondary-container: #b6ede7;
  --color-on-surface: #1b1c1a;
  --color-error: #ba1a1a;
  --color-on-secondary-fixed-variant: #164f4b;
  --color-surface-container: #efeeeb;
  --color-on-tertiary-container: #bc8848;
  --color-tertiary: #241300;
  --color-secondary-fixed: #b6ede7;
  --color-tertiary-fixed-dim: #f6bc76;
  --color-on-error: #ffffff;
  --color-on-surface-variant: #43474d;
  --color-surface-dim: #dbdad7;
  --color-primary-fixed-dim: #acc9eb;
  --color-background: #fbf9f6;

  --font-headline: 'Manrope', sans-serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;
  --font-label: 'Plus Jakarta Sans', sans-serif;
  
  --radius-default: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-nav {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #fbf9f6; }
::-webkit-scrollbar-thumb { background: #0c2d48; border-radius: 10px; }
